.web {
   top: 25px;
   padding: 2rem;
   
}

.web svg {
   width: 20px;
   justify-content: space-between;
   
}

.web svg:hover {
   color:turquoise;
}

.web img {
   width: 50px;
   cursor: pointer;
   margin-left: 80rem;
   padding: 1px;  
}

.not {
   width: 50px;
   cursor: pointer;
   margin-left: 80rem;
   padding: 1px;
}

