.web {
   top: 25px;
   padding: 2rem;
   margin: 1px;

}

main svg {
   width: 25px;
   height: 25px;
   color: grey;
   cursor: pointer;
   border-right: 1px;
   margin: 1px;
   margin-inline-start:1px ;
   margin-left: 75rem;
}

main svg:hover {
   color: black;
}



