h1 {
  
   margin-left: 5rem;
}
p {
   width: 500px;
   margin-left: 5rem;
}

.icones_web {
   width: 30px;
   height: 30px;
   color: grey;
   cursor: pointer;
   border-right: 1px;
   margin: none;
   margin-inline-start:1px ;
   margin-left: 75rem;
  
}

.icones_web:hover {
   color: black;
}



