.search {
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(237, 237, 237, 0.855);
  height: 3em;
  border-style: none;
  font-weight: bold;
  margin-bottom: 0.6em;
  border: none;
  padding: 0.1em;
}
